* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: darkslategray;
    padding: 1.5rem;

    /* membuat komponen posisinya tetap */
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    height: 100vh;
    width: 100%;
    background-color: rgb(103, 180, 180);
}

.banner-2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(188, 233, 233);
}